<?xml version="1.0"?>
<mateconf>
	<entry name="action" mtime="$time" type="string">
		<stringvalue>$script</stringvalue>
	</entry>
	<entry name="name" mtime="$time" type="string">
		<stringvalue>$comment</stringvalue>
	</entry>
	<entry name="binding" mtime="$time" type="string">
		<stringvalue>$shortcut</stringvalue>
	</entry>
</mateconf>
